*~
*.cmi
*.cmx
*.o
*_j.cmi
*_j.cmx
*_j.ml
*_j.mli
*_j.o
*_t.cmi
*_t.cmx
*_t.ml
*_t.mli
*_t.o
*.d
*.di
specification_lexer.ml
specification_parser.ml
specification_parser.mli
zephyrus
zephyrus-*.tar.gz